 {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #ffecb8;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.leftcolumn {
  float: left;
  width: 75%;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  background-color: #bdfdff;
  width: 100%;
  left-padding: 20px;
  right-padding: 20px;
}
.card {
  background-color: #bdfdff;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: center;
  background: #bdfdff;
  margin-top: 20px;
}
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
