 {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #14001a;
  padding: 20px;
  background: #ffecb8;
}
.header {
  padding: 30px;
  font-size: 40px;
  text-align: left;
  background-color: #ddc2ff;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}
.leftcolumn {
  float: left;
  width: 70%;
}
.card {
  background-color: #f6c3f7;
  padding: 20px;
  margin-top: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 20px;
  text-align: left;
  background: #ddc2ff;
  margin-top: 20px;
}
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
