  {
    box-sizing: border-box;
  }
  .example::-webkit-scrollbar {
    display: none;
  }
  body {
   -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: Monospace;
    color: #140034;
    padding: 15px;
    background: #140034;
  }
  .header {
    height: 60vh;
    margin: 0;
    padding: 1%;
    font-size: 225%;
    text-align: left;
    verticle-align: bottom;
    background-color: #ebfffa;
	opacity: 0.95;
	border-radius: 5px;
  }
  .rightcolumn {
    float: right;
    width: 25%;
    padding-left: 3%;
	opacity: 0.95;
	border-radius: 15px;
  }
.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
  .leftcolumn {
	padding: 1%;
    float: left;
    width: 70%;
	opacity: 0.95;
	border-radius: 5px;
  }
  .card {
    background-color: #ebfffa;
    padding: 1%;
    margin-top: 6%;
	opacity: 0.95;
	border-radius: 10px;
  }
  
  .scrollcontainer {
     height: 370px;
     overflow-x: hidden;
  }
  .scroll {
    text-align: left;
    width: 100%;
    padding: 1%;
    border: solid #140034;
    overflow-y: scroll;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer {
    padding: 0.5%;
    text-align: center;
    background: #ebfffa;
    margin-top: 2%;
	border-radius: 10px;
  } 
.hover {
	color: #ebfffa ;
  background-color: #140034 ;
}
.caption-box {
  font-size: 50%;
  text-align: center;
  color: #140034;
  padding: 1% 1%;
  position: absolute;
  margin-left: 5%;
  height: 2%;
  width:10%;
  background-color: #ebfffa;
  opacity: 0.85;
  border-radius: 2px;
}
.caption-box2 {
  font-size: 50%;
  text-align: center;
  color: #140034;
  padding: 1% 1%;
  position: absolute;
   margin-left: 20%;
  height: 2%;
  width:10%;
  background-color: #ebfffa;
  opacity: 0.85;
  border-radius: 2px;
}
.caption-box3 {
  font-size: 50%;
  text-align: center;
  color: #140034;
  padding: 1% 1%;
  position: absolute;
   margin-left: 37.5%;
  height: 2%;
  width:10%;
  background-color: #ebfffa;
  opacity: 0.85;
  border-radius: 2px;
}
.caption-box4 {
  font-size: 50%;
  text-align: center;
  color: #140034;
  padding: 1% 1%;
  position: absolute;
   margin-left: 60%;
  height: 2%;
  width:10%;
  background-color: #ebfffa;
  opacity: 0.85;
  border-radius: 2px;
}
.caption-box5 {
  font-size: 50%;
  text-align: center;
  color: #140034;
  padding: 1% 1%;
  position: absolute;
   margin-left: 75%;
  height: 2%;
  width:10%;
  background-color: #ebfffa;
  opacity: 0.85;
  border-radius: 2px;
}
    #slideshow {
        overflow: hidden;
        height: auto;
        width: 100%;
        margin: auto;
    }
	img {
		margin: auto;
		display: block;
	}
    .slide {
        float: left;
        width: calc(100% / 6);
    }
     
    .slide-wrapper {
		float: center:
		height: auto;
		width: calc(100% * 6);
        animation: slide 25s ease infinite;
    }
     
    .slide:nth-child(1) {
			max-height: 20%;
        background: 
    }
     
    .slide:nth-child(2) {
			max-height: 20%;
        background: 
    }
     
    .slide:nth-child(3) {
			max-height: 20%;
        background:
    }
     
    .slide:nth-child(4) {
		max-height: 20%;
        background: 
    }
    .slide:nth-child(5) {
		max-height: 20%;
        background: 
    }
  .slide:nth-child(6) {
		max-height: 20%;
        background: 
    }
    @keyframes slide {
         
        20% {
            margin-left: 0px;
        }
        40% {
            margin-left: calc(-100% * 1);
        }
        60% {
            margin-left: calc(-100% * 2);
        }
        80% {
            margin-left: calc(-100% * 3);
        }
    }
	.slider2 { position: relative; }

  @media screen and (max-width: 800px) {
     .row:after {
    content: "";
    display: table;
    clear: both;
  }
    .leftcolumn { 
      width: 100%;
      padding: 0;
    }
    .rightcolumn {
		width: 100%;
		padding:0;
    }
