 {
  box-sizing: border-box;
}

body {
  font-family: Monospace;
  color: #140034;
  padding: 10px;
  background: #140034;
}
.header {
  padding: 10px;
  font-size: 40px;
  text-align: left;
  background-color: #ebfffa;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 20px;
}
.leftcolumn {
  float: left;
  width: 70%;
}
.card {
  background-color: #ebfffa;
  padding: 20px;
  margin-top: 20px;
}
.scroll {
  text-align: left;
  width: 100%;
  height: 60%;
  overflow-x: scroll;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 5px;
  text-align: center;
  background: #ebfffa;
  margin-top: 20px;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
