 {
  box-sizing: border-box;
}

body {
  font-family: Monospace;
  color: #140034;
  padding: 5px;
  background: #140034;
}
.header {
  padding: 1%;
  font-size: 225%;
  text-align: left;
  background-color: #ebfffa;
}
.rightcolumn {
  float: right;
  width: 25%;
  padding-left: 3%;
}
.leftcolumn {
  float: left;
  width: 70%;
}
.card {
  background-color: #ebfffa;
  padding: 1%;
  margin-top: 6%;
}
.scrollcontainer {
   height: 30%;
   overflow-X: hidden;
}
.scroll {
  text-align: left;
  width: 100%;
  padding: 1%;
  border: solid #140034;
  overflow-y: scroll;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.footer {
  padding: 0.5%;
  text-align: center;
  background: #ebfffa;
  margin-top: 2%;
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn { 
    width: 100%;
    padding: 0;
  }
